<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
		aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="modalLabel">Excluir Item</h4>
				</div>
				<div class="modal-body">Deseja realmente excluir este item?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Sim</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
				</div>
			</div>
		</div>
	</div>
<meta charset="utf-8">
<h3 class="page-header">Visualizar Chamado #{{chamadoDetalhe.id}}</h3>
<br>
<div class="row">
	<div class="col-md-3">
	 <p><strong>ID Chamado</strong></p>
 	<p>{{chamadoDetalhe.id}}</p>
	</div> 
	<div class="col-md-3">
	 <p><strong>Assunto</strong></p>
 	<p>{{chamadoDetalhe.assunto}}</p>
	</div> 
	<div class="col-md-3">
	 <p><strong>Status</strong></p>
 	<p>{{chamadoDetalhe.status}}</p>
	</div> 
	<div class="col-md-3">
	 <p><strong>Mensagem</strong></p>
 	<p>{{chamadoDetalhe.mensagem}}</p>
	</div> 
</div>

<script>
function goBack() {
    window.history.back()
}
</script>

<div id="actions" class="row">
 <div class="col-md-12">
 	  <a class="btn btn-danger btn-xs"  type="button" name= "excluir" value=" X " data-toggle="modal" data-target="#delete-modal" ng-click="deleteChamado(chamado.id)">Excluir</a>
		<a class="btn btn-warning btn-xs" type="button" value=" edit " href = "chamados-editar/{{chamado.id}}">Alterar</a>
		<a class="btn btn-default btn-xs" type="button" onClick="history.go(-1)">Voltar</a>
		
 </div>
</div>